.e21-icon {
    position: absolute;
    top: 149px;
    left: 59.87px;
    width: 321.7px;
    height: 311px;
  }
  .e22-icon,
  .e23-icon,
  .e24-icon {
    position: absolute;
    top: 389px;
    left: 126px;
    width: 190px;
    height: 180px;
  }
  .e23-icon,
  .e24-icon {
    top: 637px;
  }
  .e24-icon {
    top: 525px;
    left: 144px;
    width: 154px;
    height: 154px;
  }

  .rectangle-div,
  .slide-169-2-child,
  .slide-169-2-inner,
  .rectangle-input,
  .slide-169-2-item,
  .slide-169-2-child1{
    /* opacity: 0.7; */
    padding-left: 15px;
    color: white;
    font-size: var(--font-size-xl);
    font-family: var(--font-inter);
    height: 75px;;
  }
  .slide-169-2-child,
  .slide-169-2-inner,
  .slide-169-2-item {
    position: absolute;
    top: 227px;
    left: 590px;
    border-radius: var(--br-xl);
    background-color: var(--color-gold-100);
    width: 412px;
    /* height: 85px; */
  }
  .slide-169-2-inner,
  .slide-169-2-item {
    border: 0;
    top: 431px;
    left: 591px;
    width: 844px;
  }
  .slide-169-2-inner {
    top: 329px;
    left: 590px;
  }
  .rectangle-input {
    border: 0;
    top: 530px;
    left: 591px;
    width: 844px;
  }
  .rectangle-div,
  .rectangle-input,
  .slide-169-2-child1 {
    position: absolute;
    border-radius: var(--br-xl);
    background-color: var(--color-gold-100);
    /* height: 85px; */
  }
  .slide-169-2-child{
    width: 397px;
    border:0;
  }
  .slide-169-2-child1 {
    border: 0;
    top: 633px;
    left: 591px;
    width: 844px;
  }
  .rectangle-div {
    /* margin-left: 15px; */
    border: 0;
    top: 227px;
    left: 1022px;
    width: 412px;
  }
 
  
 
  .rectangle-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: rgba(255, 191, 0, 0.75);
    position: absolute;
    top: 780px;
    left: 864px;
    border-radius: var(--br-6xl);
    width: 235px;
    height: 70px;
    color: var(--color-white);
    font-size: 28px;
    font-family: var(--font-inter);
    transition: 0.15s;
  }
  .hi-anim{
    position: absolute;
    left: 1520px;
    top: 240px ;
    width: 460px;
    height: 420px;
  }
  .rectangle-button:hover{
    font-size: 30px;
    width:237px;
    height: 71px;
  }
  .rectangle-button:active{
    opacity: 0.25;
  }
  .enter-details,
  .submit {
    position: absolute;
    top: 878px;
    left: 952px;
    font-size: 32px;
    display: flex;
    color: var(--color-white);
    align-items: center;
    justify-content: center;
    width: 121px;
    height: 88px;
  }
  .enter-details {
    top: 107px;
    left: 383px;
    font-size: 40px;
    width: 664px;
    height: 133px;
  }
 
  .slide-169-2 {
    position: relative;
    background-color: var(--color-gray-100);
    width: 100%;
    height: 1080px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-9xl);
    color: var(--color-gray-300);
    font-family: var(--font-inter);
  }
  .pop{
    background-color: var(--color-gray-100);
  }
  