<!-- //myapp/templates/signup.html -->
{% extends 'base.html' %}
 
{% block content %}
  <h2>Sign up</h2>
  <form method="POST" action="register">
    {% csrf_token %}
    <input type="text" name="first_name" placeholder="First Name" width="100px" /><br>
    <input type="text" name="last_name" placeholder="Last Name" width="100px" /><br>
    <input type="text" name="username" placeholder="username" width="100px" /><br>
    <input type="email" name="email" placeholder="email" width="100px" /><br>
    <input type="password" name="password1" placeholder="Password" width="100px"/><br>
    <input type="password" name="password2" placeholder="Confirm Password" width="100px"/><br>
    <button type="submit" class="btn btn-success">Sign up</button>
  </form>
  <div>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
  </div>

{% endblock %}